@import "tailwindcss";

:root {
  --background: #020617;
  --foreground: #f8fafc;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #020617;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

img, video {
  max-width: 100%;
  display: block;
}
